*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body {font-family: Arial, Arial, Helvetica, sans-serif};
#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100vh;
    margin: auto;
    text-align: center;
}
h1,
h3 {
    margin-bottom: 1rem;
    font-weight: normal;
}
img {
    border-radius: 50%;
    border: 5px solid #333;
}
.male {
    border-color: rgb(98, 98, 165);
    background: steelblue;
}
.female {
    border-color: pink;
    background: pink;
    color: coral;
}
button {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 1rem 1.5rem;
}
button:focus {
    outline: none;
}
button:hover {
    transform: scale(0.98);
}
/* .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
} */